{% extends "base.html" %}

{% block body %}
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                {{ user_project.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock body %}
